.footerStyles {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  text-align: center;
}

.footerStyles p,
a {
  font-size: 0.75rem;
}

.footerStyles a {
  text-decoration: none;
  transition: all ease 200ms;
  color: #468499;

  &:hover {
    color: #eee;
  }
}
