@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

.headerTitle {
  font-size: 2rem;
  margin-top: 0.6rem;
  font-family: 'Bree Serif', serif;
  font-weight: normal;
  letter-spacing: 2px;

  &:hover {
    cursor: pointer;
  }
}

.headerRule {
  background-color: #eee;
  border-bottom: 2px solid;
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
}
