.movieContainer {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rule {
  background-color: #eee;
  border-bottom: 2px solid;
  margin-top: 0.5rem;
  margin-bottom: 0.6rem;
}

@media (max-width: 500px) {
  .movieContainer {
    flex-direction: column;
    justify-items: center;
  }

  .posterContainer {
    margin: 0.5rem auto 1rem;
  }

  .footerStyles p,
  a {
    font-size: 0.5rem;
  }
}
