.posterContainer {
  margin: 0.2rem 2rem 0 0;
}

img {
  width: 100%;
  max-width: 900px;
  margin: 0 margin;
  -webkit-box-shadow: 4px 8px 19px 0px rgba(0, 0, 0, 0.67);
  box-shadow: 4px 8px 19px 0px rgba(0, 0, 0, 0.67);
}
